{
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "**/*.{js,jsx,ts,tsx}",
      "options": {
        "arrowParens": "avoid"
      }
    }
  ]
}
